<section class="container about">
  <h2 class="about-title">About the Game</h2>
  <p class="about-text">
    Mergical invites you to a mystical island shrouded in mystery. Once a
    flourishing paradise, the island now lies under a dark spell. Using your
    merging skills and a touch of magic, revive the island and restore it to its
    former glory.
    <span class="about-span"
      >Solve enchanting puzzles, awaken mythical creatures, and design a magical
      realm filled with beauty and wonder.</span
    >
  </p>
  <picture>
    <source
      srcset="./images/about/image-girl-2.webp"
      media="(min-width: 1200px)"
    />
    <img
      src="./images/about/image-girl-2мob.webp"
      alt="image girl"
      class="about-img-girl"
    />
  </picture>
  <picture>
    <source
      srcset="./images/about/image-heart-2.webp"
      media="(min-width: 1200px)"
    />
    <img
      src="./images/about/image-heart-2мob.webp"
      alt="image heart"
      class="about-img-heart"
    />
  </picture>
  <img
    src="./images/about/image-island.webp"
    alt="image island"
    class="about-img-island"
  />
  <img
    src="./images/about/image-girl-1.webp"
    alt="image girl"
    class="about-girl"
  />
  <img
    src="./images/about/image-heart.webp"
    alt="image heart"
    class="about-heart"
  />
</section>
