<footer class="footer">
  <div class="footer-container">
    <div class="footer-wrap">
      <div class="footer-inner">
        <a href="./privacy-policy.html" class="policy">Privacy Policy</a>
        <a href="./terms-of-service.html" class="service"
          >Terms and Conditions</a
        >
      </div>
      <p class="reserved">All rights reserved, 2025. gameflowburst.com</p>
    </div>
    <img
      class="cloud-footer-left-1"
      src="/images/footer/cloud-footer-left.webp"
      alt="cloud"
    />
    <img
      class="cloud-footer-left-2"
      src="/images/footer/cloud-footer-left.webp"
      alt="cloud"
    />
    <img
      class="cloud-footer-rigth-1"
      src="/images/footer/cloud-footer-rigth.webp"
      alt="cloud"
    />
    <img
      class="cloud-footer-rigth-2"
      src="/images/footer/cloud-footer-rigth.webp"
      alt="cloud"
    />
  </div>
</footer>
