<section id="gallery" class="container gallery">
  <h1 class="gallery-title">Gallery</h1>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="galery-picture"
          srcset="../img/galery/gimage1@2x.png 1x, ../img/galery/gimage1.png 2x"
          src="../img/galery/gimage1.png"
          alt="Image 1"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="galery-picture"
          srcset="../img/galery/gimage2@2x.png 1x, ../img/galery/gimage2.png 2x"
          src="../img/galery/gimage2.png"
          alt="Image 2"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="galery-picture"
          srcset="../img/galery/gimage3@2x.png 1x, ../img/galery/gimage3.png 2x"
          src="../img/galery/gimage3.png"
          alt="Image 3"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="galery-picture"
          srcset="../img/galery/gimage4@2x.png 1x, ../img/galery/gimage4.png 2x"
          src="../img/galery/gimage4.png"
          alt="Image 4"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="galery-picture"
          srcset="../img/galery/gimage5@2x.png 1x, ../img/galery/gimage5.png 2x"
          src="../img/galery/gimage5.png"
          alt="Image 5"
        />
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <div class="swiper-pagination"></div>
  </div>
</section>
