<section class="hero">
  <div class="containerr">
    <div class="hero-wraper">
      <h1 class="hero-title">Mergical - Fun Match Island Game</h1>
      <p class="hero-text">
        Unleash your magic and rebuild an enchanting island!
      </p>
      <div class="hero-btn">
        <a
          href="https://play.google.com/store/apps/details?id=com.fotoable.mergetown"
          class="hero-link"
          target="_blank"
          ><img
            class="hero-google-play-img"
            src="/images/create-magic/google-play.webp"
            alt="google play"
          />
          <p class="hero-link-text">Download on <span>Google Play</span></p></a
        >
      </div>
    </div>
  </div>

  <div class="hero-images">
    <img
      src="/img/hero/girl@2x.png"
      srcset="/img/hero/girl@1x.png 320w, /img/hero/girl@2x.png 1200w"
      sizes="(max-width: 1199px) 320px, 100vw"
      alt="Girl Image"
      class="hero-girl"
    />

    <img src="/img/hero/island@2x.png" alt="Island Image" class="hero-island" />
  </div>
</section>
