<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="ghost">
      <div class="swiper-wraper">
        <div class="swiper-slide">
          <div class="review-card vertical card1">
            <img
              class="frame-vertical"
              src="/img/reviews/frame.png"
              alt="frame"
            />
            <img class="cloud-1" src="/img/reviews/heart@1.png" alt="cloud" />
            <div class="review-content">
              <h3 class="review-author vert">FantasyFan89</h3>
              <p class="review-text">
                "This game is a magical escape! The visuals are stunning, and I
                love creating my dream island."
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review-card horizontal card2">
            <img
              class="frame-horizontal"
              src="/img/reviews/frame.png"
              alt="frame"
            />
            <img class="cloud-2" src="/img/reviews/heart@2.png" alt="cloud" />
            <div class="review-content">
              <h3 class="review-author horiz">IslandDreamer</h3>
              <p class="review-text">
                "I can't put it down. The daily surprises and challenges keep it
                fresh and exciting."
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review-card vertical card3">
            <img
              class="frame-vertical"
              src="/img/reviews/frame.png"
              alt="frame"
            />
            <img class="cloud-3" src="/img/reviews/heart@3.png" alt="cloud" />
            <div class="review-content">
              <h3 class="review-author vert">PuzzleWizard22</h3>
              <p class="review-text">
                "A perfect blend of puzzles and creativity. The merging
                mechanics are so satisfying!"
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review-card horizontal card4">
            <img
              class="frame-horizontal"
              src="/img/reviews/frame.png"
              alt="frame"
            />
            <img class="cloud-4" src="/img/reviews/heart@4.png" alt="cloud" />
            <div class="review-content">
              <h3 class="review-author horiz">MythicalGamer</h3>
              <p class="review-text">
                "The magical creatures add so much charm. Every moment feels
                like a fairytale!"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-slider">
      <div class="review-card vertical card1">
        <img class="frame-vertical" src="/img/reviews/frame.png" alt="frame" />
        <img class="cloud-1" src="/img/reviews/heart@1.png" alt="cloud" />
        <div class="review-content">
          <h3 class="review-author vert">FantasyFan89</h3>
          <p class="review-text">
            "This game is a magical escape! The visuals are stunning, and I love
            creating my dream island."
          </p>
        </div>
      </div>
      <div class="review-card horizontal card2">
        <img
          class="frame-horizontal"
          src="/img/reviews/frame.png"
          alt="frame"
        />
        <img class="cloud-2" src="/img/reviews/heart@2.png" alt="cloud" />
        <div class="review-content">
          <h3 class="review-author horiz">IslandDreamer</h3>
          <p class="review-text">
            "I can't put it down. The daily surprises and challenges keep it
            fresh and exciting."
          </p>
        </div>
      </div>

      <div class="review-card vertical card3">
        <img class="frame-vertical" src="/img/reviews/frame.png" alt="frame" />
        <img class="cloud-3" src="/img/reviews/heart@3.png" alt="cloud" />
        <div class="review-content">
          <h3 class="review-author vert">PuzzleWizard22</h3>
          <p class="review-text">
            "A perfect blend of puzzles and creativity. The merging mechanics
            are so satisfying!"
          </p>
        </div>
      </div>
      <div class="review-card horizontal card4">
        <img
          class="frame-horizontal"
          src="/img/reviews/frame.png"
          alt="frame"
        />
        <img class="cloud-4" src="/img/reviews/heart@4.png" alt="cloud" />
        <div class="review-content">
          <h3 class="review-author horiz">MythicalGamer</h3>
          <p class="review-text">
            "The magical creatures add so much charm. Every moment feels like a
            fairytale!"
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
