.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 60px;

  @include media(mobile) {
    padding-top: 18px;
  }

  .container {
    margin: 0 auto;
    @include media(mobile) {
      width: 320px;
    }
    @include media(desktop) {
      width: 1045px;
      display: flex;
      align-items: flex-start;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    @include media(mobile) {
      .logo-img {
        content: url('../img/logo/logo.png');
      }
    }

    @include media(desktop) {
      .logo-img {
        content: url('../img/logo/logo@2x.png');
      }
    }
  }

  .burger-menu {
    display: none;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &.active {
        transform: rotate(90deg);
      }
    }

    @include media(mobile) {
      display: block;
      background: none;
      border: none;
      padding: 0;
    }
  }

  .nav {
    .nav-list {
      display: flex;
      padding-bottom: 16px;

      li {
        width: 172px;
        height: 80px;
        margin-left: 30px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.3s ease;

        &:hover {
          border-color: #000000;
        }

        &:active {
          background-color: #e7c000;
          border-color: #e7c000;
        }

        a {
          text-decoration: none;
          color: rgb(7, 7, 7);
          font-size: 1rem;
        }
      }
    }

    @include media(mobile) {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 179px;
        height: 352px;
        background-color: #a4f9ff;
        padding: 20px;

        .nav-list {
          flex-direction: column;

          li {
            margin-left: 0;
            margin-bottom: 20px;
            width: auto;
            height: auto;
            border-radius: 0;
            background: none;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
