.header {
  display: flex;
  justify-content: center;

  // background: linear-gradient(180deg, #0f6691 0%, #0f6691 63.25%);
  .containe {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 8px 16px 0 16px;

    @include media(desktop) {
      justify-content: flex-start;
      margin: 8px 72px;
      width: 1056px;
      height: 114px;
      border-radius: 40px;
      background-color: #0a557a;
      color: white;
      box-shadow: 0 4px 10px rgba(10, 85, 122, 0.25);
      padding: 8px 30px;
    }
  }

  .logo {
    @include media(mobile) {
      .logo-img {
        content: url('/img/logo/logo.png');
      }
    }
    @include media(desktop) {
      .logo-img {
        margin-right: 27px;
        content: url('/img/logo/logo@2x.png');
      }
    }
  }

  .burger-menu {
    display: none;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: transform 0.3s;

      &.burger-icon {
        width: 30px;
        height: 30px;

        &:hover,
        &:focus,
        &:hover,
        &:focus {
          content: url('/img/burger-hover.png');
        }
      }
    }

    .close-icon {
      display: none;
      position: absolute;
      top: 10px;
      left: 88%;
      width: 23px;
      height: 23px;
      cursor: pointer;
      z-index: 1000;

      &:hover,
      &:focus,
      &:hover,
      &:focus {
        content: url('/img/close-hover.png');
      }
    }

    @include media(mobile) {
      display: block;
      background: none;
      border: none;
      padding: 0;
    }
  }

  .nav {
    display: none;
    flex-direction: column;

    @include media(desktop) {
      display: flex;
      padding-bottom: 16px;
    }

    .nav-list {
      display: flex;
      width: 100%;
      margin-top: 16px;

      @include media(desktop) {
        gap: 32px;
      }

      li {
        font-family: 'Mali', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: white;
        text-decoration: none;
      }

      a {
        color: inherit;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #e7c000;
        }
      }

      &.active a {
        color: #e7c000;
        font-weight: 600;
        text-decoration: underline;
      }
    }

    @include media(mobile) {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: 0;
        width: 179px;
        height: 333px;
        background-color: #a4f9ff;
        padding-left: 16px;
        padding-top: 36px;
        border-radius: 20px;

        .nav-list {
          flex-direction: column;

          li {
            margin-left: 0;
            margin-bottom: 16px;
            width: auto;
            height: auto;
            border-radius: 0;
            background: none;

            font-family: 'Mali', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: rgb(0, 0, 0);
            text-decoration: none;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: inherit;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: #e7c000;
              }
            }

            &.active a {
              color: #e7c000;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
