@import './common/reset.scss';
@import './common/global.scss';

@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './magikal-atmosphera.scss';
@import './features.scss';
@import './create-magic.scss';
@import './gallery.scss';
@import './footer.scss';

@import './privacy-policy.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  height: 100vh;
  display: flex;
  justify-content: center;

  color: #242424;
  background-color: #024d55;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
